<% if (typeof user!=='undefined') { %>
    <form action="/logout">
        <div class="alert alert-primary">
            Bienvenido <%= user %> !
            <input type="submit" value="Logout" class="btn btn-primary">
        </div>
    </form>

<% }else{ %>
<form action="/login" method="post" role="form" class="form">
    <div class="form-group">
        <label for="email">Ingrese aquí su email: </label>
        <input id="email" name="email" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Ingrese aquí su contraseña: </label>
        <input type="password" id="password" name="password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
        
        <input id="usernameInput" class="btn btn-success my-3" type="submit" value="Login">
    </div>
</form>
<% } %>
